@model object
@{
    ViewBag.Title = "Motocykl zmaówiony";
}

<h2 class="text-center">Instrument został zamówiony. Twój numer zamówienia to: @((int)Model).</h2>
<h3 class="text-center">Zapraszamy do odbioru.</h3>

