
@{
    ViewBag.Title = "Konto utworzone";
}

<h2 class="text-center">Twoje konto zostało utworzone</h2>
<h3 class="text-center">Możesz się teraz zalogować używając loginu i hasła podanego podczas rejestracji</h3>

