@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Witamy w sklepie</h1>
    <p class="lead">Znajdziesz u nas szeroki wybór sprzętu muzycznego w przystępnych cenach.</p>
    <p><a href="@Url.Action("Index","Produkty")" class="btn btn-primary btn-lg">Przejrzyj ofertę <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>W naszej ofercie...</h4>
        <p>... znajdziesz szeroki wybór wszelkiego rodzaju gitar.</p>
        <p>Sklep nie prowadzi sprzedaży wysyłkowej. Dokonanie zakupu wiąże się z obowiązkiem odbioru zakupionego towaru i zapłaty przy jego odbiorze</p>
        <p>Zakupu w sklepie mogą dokonać jedynie zalogowani użytkownicy. Logowanie pozwoli Ci też na podgląd historii zamówień.</p>
    </div>
</div>